<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension 
         id="extract"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run 
               class="extractmethodrunner.ExtractApplication">
         </run>
      </application>
   </extension>
   <extension 
         id="rename"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run 
               class="extractmethodrunner.RenameApplication">
         </run>
      </application>
   </extension>

</plugin>
